name: Azure ML Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  GROUP: mlops-test
  WORKSPACE: mlops-workspace
  LOCATION: eastus

jobs:
  azure-cli-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: Azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # CREATE WORKSPACE FIRST
      - name: Create Azure ML Workspace
        uses: Azure/CLI@v2.2.0
        with:
          azcliversion: 2.78.0
          inlineScript: |
            az extension add --name ml
            az ml workspace create \
              -n $WORKSPACE \
              -g $GROUP \
              -l $LOCATION

      # THEN LIST COMPUTES
      - name: Azure CLI - Get Compute
        uses: Azure/CLI@v2.2.0
        with:
          azcliversion: 2.78.0
          inlineScript: |
            az extension add --name ml
            az configure --defaults group=$GROUP workspace=$WORKSPACE location=$LOCATION
            az ml compute list

      - name: Azure Logout
        run: |
          az logout
        if: always()